<div class="navbar-fixed-bottom navbar-nav" style="background:-webkit-linear-gradient(right,black,black);">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-lg-8">
            <div class="col-xs-2 col-sm-2 col-lg-2">
                <img src="Images/unnamed.png" />
            </div>
            <div class="col-xs-10 col-sm-10 col-lg-10" style="padding:25px;">
                <p style="color:darkgrey">Order your favourite snacks online.We will ensure you get the same at your door step within 30 min.</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
                <a href="Mission.html">Mission</a><span style="color:darkgray">|</span>
                <a href="Disclaimer.html">Disclaimer</a><span style="color:darkgray">|</span>
                <a href="Contact.html">Contact</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <p style="text-align:center;color:darkgrey;">Visit Our weSite-<a class="link-colour" href="ApplicationHome.html">Snack Box</a></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <p style="text-align:center;color:darkgrey;">All Rights Reserved. Copyright &copy; Snackbox Limited</p>
            </div>
        </div>
    </div>
</div>