<div>
    <center><h3><i>Dear<b>&nbsp;{{username|userTruncate|MyFirstLetter:1}}</b>, Please select your cuisine... </i></h3></center>
</div>
<div class="container" style="padding-top:10px;padding-left:105px">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <a href="FoodDetail.html">
                <figure class="figure">
                    <img src="" class="figure-img img-fluid img-thumbnail zoom " alt="China" width="200" height="200" />
                    <i><figcaption class="figure-caption"><span style="color:maroon">Burgers</span></figcaption></i>
                </figure>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="FoodDetail.html">
                <figure class="figure">
                    <img src="" class="figure-img img-fluid img-thumbnail zoom " alt="China" width="200" height="200" />
                    <i><figcaption class="figure-caption"><span style="color:maroon">Pizzas</span></figcaption></i>
                </figure>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <a href="FoodDetail.html">
                <figure class="figure">
                    <img src="" class="figure-img img-fluid img-thumbnail zoom " alt="China" width="200" height="200" />
                    <i><figcaption class="figure-caption"><span style="color:maroon">Chaats</span></figcaption></i>
                </figure>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="FoodDetail.html">
                <figure class="figure">
                    <img src="" class="figure-img img-fluid img-thumbnail zoom " alt="China" width="200" height="200" />
                    <i><figcaption class="figure-caption"><span style="color:maroon">Chinese food</span></figcaption></i>
                </figure>
            </a>
        </div>
    </div>
</div>

