<div class="view" ng-controller="fooddetail" ng-init="getdetails()">
    <table class="table" style="width:70%;margin:0 auto;margin-top:40px;">
        <thead>
            <tr>
                <th style="text-align:left;">
                    <div> Food Item</div>
                </th>
                <th>Size</th>
                <th>Prize</th>
                <th>Quantity</th>
                <th>Add to Cart</th>
            </tr>
        </thead>
        <tbody ng-controller="cartCtrl">
            <tr ng-repeat="product in products" ng-controller="priceCtrl">
                <td style="vertical-align:middle;">
                    <figure class="figure" style="height:100px;">
                        <img src={{product.imgUrl}} class="img img-rounded" alt={{product.name}} style="height:90%;">
                        <figcaption class="figure-caption">
                        <span>{{product.name}}</span>
                        </figcaption>
                    </figure>
                </td>
                <td style="vertical-align:middle;" align="center">
                    <select class="roundcorners" ng-model="sz" ng-change="displayPrice()" ng-options="size for size in product.sizes"></select>
                </td>
                <td style="vertical-align:middle;" align="center">
                    {{price}}
                </td>
                <td style="vertical-align:middle;" align="center">
                    <input type="number" min="1" max="10" ng-model="qty" required class="roundcorners" />
                </td>
                <td style="vertical-align:middle;" align="center">
                    <button type="button" class="btn btn-link" ng-click="addItem(product.sku,product.name,price,qty,sz)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="tdRight" colspan="5" >
                    <a href="FoodCart">
                        <i class="glyphicon-shopping-cart"></i>
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice()|MyCurrency:" Rs.":true}}</b>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div align="center">
        <a style="margin:0 auto;" href="FoodCart" class="btn btn-success roundcorners">Proceed to Order</a>
    </div>
</div> 